:root {
  color-scheme: light dark;
  --color-accent: oklch(65% 50% 0);
  --background-color: canvas;
  --text-color: canvastext;
  --border-color: oklch(80% 3% 200);
  --button-bg: #007bff;
  --button-hover-bg: #0056b3;
  --button-text: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --border-color: oklch(50% 10% 200 / 40%);
    --button-bg: oklch(50% 30% 200);
    --button-hover-bg: oklch(40% 30% 200);
  }
}

body {
  font: 100%/1.5 system-ui;
  max-width: 100ch;
  margin-inline: auto;
  padding: 1em;
  width: 100%;
  background-color: var(--background-color);
  color: var(--text-color);
}

nav ul,
nav li {
  display: contents;
}

nav {
  display: flex;
  margin-bottom: 1em;
  border-bottom: 1px solid var(--border-color);
}

nav a {
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em;
  flex: 1;
}

nav a.current {
  border-bottom: 0.4em solid var(--border-color);
  padding-bottom: 0.3em;
}

nav a:hover {
  border-bottom: 0.4em solid var(--color-accent);
  background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
}

input, textarea, button {
  font: inherit;
}

form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
  width: 100%;
}

label {
  grid-column: 1;
  align-self: center;
}

input, textarea {
  grid-column: 2;
  width: 100%;
  padding: 0.5em;
  box-sizing: border-box;
  background-color: var(--background-color);
  color: var(--text-color);
  border: 1px solid var(--border-color);
}

button {
  grid-column: 1 / -1;
  padding: 0.7em;
  margin-top: 1em;
  background-color: var(--button-bg);
  color: var(--button-text);
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: var(--button-hover-bg);
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 1em;
}

.projects article {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
  background-color: var(--background-color);
  color: var(--text-color);
  border: 1px solid var(--border-color);
  padding: 1em;
}

h1 {
  font-size: 400%;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  text-wrap: balance;
  color: var(--text-color);
}

.projects h2 {
  margin: 0;
}

.color-scheme {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 80%;
  font-family: inherit;
}

#profile-stats dl {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 15px; 
  grid-auto-rows: auto;
  margin: 0;
  padding: 0;
}


#profile-stats dt {
  font-weight: bold;
  grid-column: span 1; 
  grid-row: 1;         
}


#profile-stats dd {
  font-style: italic;
  grid-column: span 1; 
  grid-row: 2;         
}


#profile-stats h2 {
  margin-bottom: 20px;
  text-align: center;
}

#profile-stats img {
  border-radius: 50%;
  margin-right: 15px;
}